*{
    margin:0;
    padding: 0;
    font-family: sans-serif;
}

.container
{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar
{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 50px;
    cursor: pointer;
    margin: 30px 0;
}
.menu-icon
{
    width: 50px;
    cursor: pointer;
    display: none;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    text-align: right;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 24px;
    padding-right: 25px;
    padding-left: 25px;
}

nav ul li a:hover{
    color: rgb(202, 86, 106);
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

.col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}

.content{
    width: 100%;
    position: absolute;
    top: 10%;
    transform: translateY(-50%);
    text-align:left;
    color: black;
}


#typing {
    color: black;
    font-family: sans-serif;
    line-height: 40px;
    font-weight:bold;
    font-size: 40px;
    overflow: hidden;
    white-space: nowrap;
    justify-content: center;
    animation: typing 5s steps(22) 1s infinite alternate;
}
#typing span{
color:rgb(219, 120, 136);}

#crow {
    float: left;

color:black;
    display: none;
    font-family: sans-serif;
    font-weight:bold;
    font-size: 40px;
    animation: crow 0.5s linear 0s infinite;
}
@keyframes typing {
    from {
        width: 0ch;
    }
    to {
        width: 25ch;
    }
}
@keyframes crow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.col-1 h3{
    font-size: 30px;
    color: #707070;
    font-weight: 100;
    margin: 100px 0 10px;
}

button{
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #d387ab, #e899dc);
    border-radius: 6px;
    cursor: pointer;
    font-size: 24px;
    transition: width 0.5s;
}

button img{
    width: 30px;
    display: none;
}
button:hover img{
    display: block;
}
button:hover{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.col-1::after{
    content: '';
    width: 10px;
    height: 57%;
    background: linear-gradient(#d387ab, #e899dc);
    position: absolute;
    left: -40px;
    top:80px;
}
.col-2{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}
.col-2 .controller{
    width: 90%;
}
;color-box{
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(#d387ab, #e899dc);
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 80%;
    z-index: -1;
    transform: translateX(150px);

}

@media only screen and (max-width:700px){
    nav ul{
        width: 100%;
        background: linear-gradient(#d387ab, #e899dc);
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color : #fff;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        overflow: hidden;
        transition: 0.5s;
    }
    .row{
        flex-direction: column-reverse;
        margin: 50px 0;
    }
    .col-2{
        flex-basis: 100%;
        margin-bottom: 50px;
    }
    .col-2 controller{
        width : 77%;
    }
    .color-bax{
        transform: translateX(75px);
    }
    .col-1{
        flex-basis: 100%;
    }
    .col-1 h3{
        font-size: 15px;
    }
}